/* ---- reset ---- */

body {
  margin: 0;
  background-color: #212233;
  font:normal 75% Verdana, Helvetica, sans-serif;
}

.wrapper{

  overflow-y:hidden !important;
  overflow-x: hidden !important;
}
/* ---- particles.js container ---- */

#particles-js {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: -20;
  /*background-color: #182327;*/
  /*background: linear-gradient(to left, #00c6ff , #0072ff);*/
  /*background: -webkit-linear-gradient(90deg, #C04848 10%, #480048 90%);*/
  background: radial-gradient(ellipse at bottom, #212233 5%, rgb(0, 0, 0) 90%);
  overflow: hidden;
  /*background: linear-gradient(#000000,#191919);*/
  /*background-image: url("");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;*/
}
.head{
  color: #FFFFFF;
  font-family: 'Raleway', sans-serif;
  font-family: 'Roboto', sans-serif;
  font-family: 'Montserrat', sans-serif;
  font-size: 6vw;
  font-weight: 600;
  line-height: auto;
  margin-bottom: 40px;
  text-align: center;
}
p{
  display: inline-block !important;
}

.section{

  /*height: calc(100vh - 40px);*/

  height: 100vh;
  max-width: 100vw;
  z-index: 1;
  position: relative;
  text-align: center;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-transform: translate3d(0,0,0);

}

.name{

  width:70%;
  height: auto;

}
.text{
  font-size: 25px;
  margin-top: 20px;
  margin-bottom: 0px;
  color:black;
  font-family: 'Raleway', sans-serif;
  font-family: 'Roboto', sans-serif;
  font-family: 'Montserrat', sans-serif;
}
.icons{
  display:inline-block;
  float: left;
  width:100%;
  margin:0;

}
.fb, .lin, .git, .twit, .mail, .res{
  color:#FFFFFF;
}

.ico{
  border: 4px double black;
  border-radius: 50%;
  display: inline-block;
  width: 20px;
  height: 20px;
  padding: 11px;
  position: relative;
  background: transparent;
  transition: all 0.2s ease;
  text-decoration: none;
  margin: 22px 8px;
}

.ico-res{
  border: 4px double black;
  border-radius: 50%;
  display: inline-block;
  width: 40px;
  height: 40px;
  padding: 10px 8px 8px 8px;
  position: relative;
  background: transparent;
  transition: all 0.2s ease;
  text-decoration: none;
  margin: 0px 8px;
}

.ico:hover{
  transform: translateY(-4px);
  border-color: #fff;
}

.ico-res:hover{
  transform: translateY(-4px);
}
.ico:hover .fb{
  color:#fff;

}

.ico:hover .lin{
  color:#fff;
}
.ico:hover .git{
  color:#fff;
}
.ico:hover .mail{
  color:#fff;
}
.ico:hover .twit{
  color:#fff;
}
.ico-res:hover .res{
  color:#fff;
}

#bar {
  position: fixed;
  top: 20%;
  left: 40%;
  width: 40%;
  height: 40%;
  -webkit-transition: 0.1s ease all;
}

.p {
  background-color: rgb(2, 2, 15);
  height: 100%;
  width: 10%;
  float: left;
}

@media screen and (max-width: 700px) {

  .name{
    width:100%;
  }
  .head{
    font-size: 13vw;
    margin-bottom: 0px !important;
    padding: 0 !important;

  }
  .text{
    font-size: 4vw;
    margin-bottom: 4px !important;
    margin-top: 5px !important;
  }
  .ico{
    border: 4px double black;
    border-radius: 50%;
    display: inline-block;
    width: 20px;
    height: 20px;
    padding: 5px !important;
    position: relative;
    background: transparent;
    transition: all 0.2s ease;
    text-decoration: none;
    margin: 0px 3px !important;

  }
  .icons{
    margin-bottom: 8px;
  }
  .ico-res{
    border: 4px double black;
    border-radius: 50%;
    display: inline-block;
    width: 20px;
    height: 20px;
    padding: 10px 8px 8px 8px !important;
    position: relative;
    background: transparent;
    transition: all 0.2s ease;
    text-decoration: none;
    margin: 0px 8px !important;
  }

  .fa-2x{
    font-size: 1.5em !important;
  }
  .fa-3x{
    font-size: 2em !important;
  }
  ul{
    padding:0px !important;

  }
}
